<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane"
            type="button" role="tab" aria-controls="active-tab-pane" aria-selected="true">Aktif</button>
    </li>
    <% if(user_role==1) { %>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="inactive-tab" data-bs-toggle="tab" data-bs-target="#inactive-tab-pane"
                type="button" role="tab" aria-controls="inactive-tab-pane" aria-selected="false">Non-Aktif</button>
        </li>
        <% } %>
</ul>