<% layout('layouts/subBoilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <p>
                <p class="mb-0">Kami Mohon Maaf atas ketidaknyamanan ini.</p>
                </p>
                <hr>
                Jika anda mempunyai kendala silahkan hubungi kami di halaman <a href="/contact">kontak</a>.
            </div>
        </div>
    </div>