<% layout('layouts/subBoilerplate') %>
    <h1>UPLOAD IMG TEST</h1>
    <form id="image-upload-form" enctype="multipart/form-data" action="/upload-image" method="post">
        <input type="file" name="image">
        <input type="submit" value="Upload">
    </form>