<% layout('layouts/subBoilerplate') %>
    <div style="padding: 100px;">
        <h1 class="text-center" style="font-size: 60px ;">Halaman Tambah Konten</h1>
    </div>
    <div>
        <form action="/addContent" method="post" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="contentTitle" class="form-label">Judul Konten</label>
                    <input type="text" class="form-control" name="content[title]" id="contentTitle" required>
                </div>
                <div class="col-6 mb-3">
                    <label for="contentImg" class="form-label">Banner Konten</label>
                    <input type="url" class="form-control" name="content[img]" id="contentImg" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="contentDesc" class="form-label">Deskripsi Konten</label>
                <textarea class="form-control" name="content[desc]" id="contentDesc" cols="30" rows="10"
                    required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>