<% layout('layouts/subBoilerplate') %>
    <div>
        <img src="<%= getContent.img %>" alt="" style="height: 400px; width: 100%; object-fit: cover;">
    </div>
    <div>
        <h3>
            <%= getContent.title %>
        </h3>
        <p>
            <%= getContent.desc %>
        </p>
    </div>
    <% if(user_role==1) {%>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </div>
        <% } %>